/*body{
	background: blue;
}*/
P{
	margin-left: 1.66% ;
	border-bottom: 3px solid #f1f1f1 ;
	font-weight: 800;
	font-size: 23px;
	text-transform: uppercase;
	width: 30%;
	padding-bottom:3px ;

}
img{
	width: 30%;
	height: 400px;
	float: left;
	margin: 1.66%;

}